---
import Layout from '../layouts/Layout.astro';
import Launcher from '../components/Launches.astro';
import H1 from '../components/H1.astro';
---

<Layout title="SpaceX Launches">
	<H1>SpaceX Last Launches</H1>
	<Launcher />
</Layout>

<style>

</style>
